doctype html
html(lang='pt-br', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Angular Gen
    meta(name='description', content='Angular Gen')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // build:css(.tmp) styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    // endbuild 

  body
    p Hello world! This is Angular Generator.

    // build:js scripts/components.js 
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/jquery-ui/ui/jquery-ui.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-touch/angular-touch.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-ui-utils/ui-utils.js')
    script(src='bower_components/ng-table/ng-table.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/ng-file-upload/angular-file-upload.js')
    script(src='bower_components/ng-file-upload-shim/angular-file-upload-shim.js')
    script(src='bower_components/underscore/underscore.js')
    // endbuild 
